.druppel {
    border-radius:  50%;
    cursor: pointer;
    margin:  2px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.51);
}

spelbordtable {
    width: 100%;
    margin: 0px auto;
}

body {
    background-color: rgba(0, 0, 0, 0.07);
    margin: 10px;
}

.optie {
    background-color: rgba(0,0,0,0);
    overflow-y: auto;
    border: 0px;
    outline: none;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
}

.kleuroptie{
    outline: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 100%;
}

.kleuroptie:active {
    border-color: white;
}

.label-block {
    font-weight: normal;
    display: block;
    padding: 6px 12px;
    margin: 0;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width: 100%;
}