.druppel {
    border-radius:  50%;
    cursor: pointer;
    margin:  2px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.51);
}

.spelbordtable {
    margin: 0px auto;
}

.spelbord {
    margin: 12px auto;
}

body {
    background-color: rgba(0, 0, 0, 0.07);
    margin: 10px;
}

.logo {
    color: rgb(240, 240, 240);
}

.optie {
    background-color: rgba(0,0,0,0);
    overflow-y: auto;
    border: 0px;
    outline: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.51);
}

.kleuroptie, .kleuroptie:link, .kleuroptie:visited, .kleuroptie:hover, .kleuroptie:active, .kleuroptie:after {
    outline: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.label-block {
    font-weight: normal;
    display: block;
    padding: 6px 12px;
    margin: 0;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width: 100%;
}