.druppel {
    border-radius:  50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin:  2px;
}

spelbordtable {
    width: 100%;
    margin: 0px auto;
}

body {
    margin: 10px;
}

.optie {
    overflow-y: auto;
    border: 0px;
    outline: none;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
}

.kleuroptie{
    height: 30px;
    outline: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 100%;
}

.kleuroptie:active {
    border-color: white;
}