.druppel {
    border-radius:  50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin:  10px;
}

body{
    background-color: rgba(128,128,128,0.13);
}

.optie {
    overflow-y: auto;
    border: 0px;
    outline: none;
    padding: 0px;
}

.kleuroptie{
    height: 30px;
    outline: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.kleuroptie:active {
    border-color: white;
}